.btn-balance {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  transition: all 0.3s ease;
}

.p-transaction {
  margin: 0px;
}

hr {
  margin-top: 25px;
  border: 0.5px solid black;
}

.link-selected:hover {
  color: blue;
  cursor: pointer;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.filter-history:hover {
  cursor: pointer;
  color: #6379f4;
  font-weight: bold;
}
